<%= render "layouts/header" %>
<div class="container">
    <h2 class="text-center">Bank Account Detail</h2>
    <%= link_to "Back", users_mypage_path, class: "btn btn-secondary" %>
    <br></br>
    <div class="row">
        <div class="col-4">
            <h3 class="text-center">Bank Info</h3>
            </br>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Bank Name</th>
                        <th><%= @bank.name %></th>
                    </tr>
                    <tr>
                        <th>Branch Name</th>
                        <th><%= @bank.branch %></th>
                    </tr>
                    <tr>
                        <th>Owner</th>
                        <th><%= @bank.owner %></th>
                    </tr>
                    <tr>
                        <th>Total Blance</th>
                        <th>짜100000</th>
                    </tr>
                </tbody>
            </table>
            <%= link_to "Add Bank Log", users_bank_logs_new_path, class: "btn btn-warning btn-block" %>
            <%= link_to "Edit Bank Account", edit_bank_path(@bank), class: "btn btn-info btn-block" %>
            <%= link_to "Destroy BanAccount", users_bank_path(@bank), class: "btn btn-danger btn-block" %>
        </div>
        <div class="col-8">
            <h3 class="text-center">This Month Logs</h3>
            </br>
            <table class="table">
                <thaed>
                    <tr>
                        <td>Use Date</td>
                        <td>In or Out</td>
                        <td>Category</td>
                        <td>Title</td>
                        <td>Detail</td>
                        <td>Amount of Money</td>
                    </tr>
                </thaed>
                <tbody>
                    <% @bank_logs.each do |l| %>
                            <tr>
                                <td><%= l.use_date %></td>
                                <td>
                                    <% if l.in_out == true %>
                                        Out
                                    <% else %>
                                        In
                                    <% end %>
                                </td>
                                <td><%= l.bank_category.name %></td>
                                <td>
                                    <%= link_to bank_log_path(l) do %>
                                        <%= l.title %>
                                    <% end %>
                                </td>
                                <td><%= l.detail %></td>
                                <td><%= l.amount_money %></td>
                            </tr>
                    <% end %>
                </tbody>
                <tfoot>
                    <tr class="table-secondary">
                        <td colspan="5"><div class="text-center">Balance at the end of last month</div></td>
                        <td>짜7000-</td>
                    </tr>
                    <tr class="table-secondary">
                        <td colspan="5"><div class="text-center">This month's balance</div></td>
                        <td>짜7000-</td>
                    </tr>
                    <tr class="table-secondary">
                        <td colspan="5"><div class="text-center">Total Blance</div></td>
                        <td>짜7000-</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>