<%= render "layouts/header" %>
<div class="container">
    <div class="row">
        <div class="col mx-auto">
            <h2 class="text-center">Add Bank log</h2><br></br>
            
            <%= form_with model: @bank_log, url: users_banks_path, method: :post do |f| %>
                
                <div class="row">
                  <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg text-center">In or Out</label>
                  <div class="col-sm-10">
                    <%= f.select :in_out, [['In',0],['Out',1]], { include_blank: "Please select In or Out" }, autofocus: true, class: "form-control" %>
                  </div>
                </div>
                
                <div class="row">
                  <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg text-center">Bank Name</label>
                  <div class="col-sm-10">
                    <%= f.text_field :name, autofocus: true, placeholder: "Please select a bank name", class: "form-control" %>
                  </div>
                </div>
                
                <div class="row">
                  <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg text-center">Use Date</label>
                  <div class="col-sm-10">
                    <%= f.date_field :use_date, autofocus: true, placeholder: "date", class: "form-control" %>
                  </div>
                </div>
                
                <div class="row">
                    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg text-center">Category</label>
                    <div class="col-sm-10">
                        <div>
                            <%= f.collection_select :bank_category_id, BankCategory.where(user_id: current_user.id), :id, :name, prompt: "Please select a category", class: "form-select" %>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                  <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg text-center">Title</label>
                  <div class="col-sm-10">
                    <%= f.text_field :title, autofocus: true, placeholder: "shoe fee", class: "form-control" %>
                  </div>
                </div>
                
                <div class="row">
                  <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg text-center">Amount Of Money</label>
                  <div class="col-sm-10">
                    <%= f.text_field :amount_money, autofocus: true, placeholder: "3980", class: "form-control" %>
                  </div>
                </div>
                
                <div class="row">
                  <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg text-center">Detail</label>
                  <div class="col-sm-10">
                    <%= f.text_field :detail, autofocus: true, placeholder: "Please describe the details of the log.", class: "form-control" %>
                  </div>
                </div>
                
                <div class="row">
                  <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"></label>
                  <div class="col">
                    <%= f.submit "Create Log", class: "btn btn-warning form-control" %>
                  </div>
                </div>
            <% end %>
        </div>
    </div>
</div>