<%= render "layouts/header" %>
<div class="container">
    <h2 class="text-center">Bank Log Detail</h2><br></br>
    <div class="row">
        <div class="col-3">
            <h3 class="text-center">Bank Info</h3>
            </br>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Bank Name</th>
                        <th>
                            <%= link_to users_bank_path(@bank_log.bank) do %>
                                <%= @bank_log.bank.name %>
                            <% end %>
                        </th>
                    </tr>
                    <tr>
                        <th>Branch Name</th>
                        <th><%= @bank_log.bank.branch %></th>
                    </tr>
                    <tr>
                        <th>Owner</th>
                        <th><%= @bank_log.bank.owner %></th>
                    </tr>
                    <tr>
                        <th>Total Blance</th>
                        <th>¥100000</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-9">
            <h3 class="text-center">Detail</h3>
            </br>
            <table class="table">
                <thaed>
                    <tr>
                        <td class="col-1">Date</td>
                        <td class="col-2">Category</td>
                        <td class="col-3">Title</td>
                        <td class="col-4">Detail</td>
                        <td class="col-2">Amount</td>
                    </tr>
                </thaed>
                <tbody>
                    <tr>
                        <td><%= @bank_log.use_date.strftime('%m/%d') %></td>
                        <td><%= @bank_log.bank_category.name %></td>
                        <td><%= @bank_log.title %></td>
                        <td><%= @bank_log.detail %></td>
                        <td>
                            <% if @bank_log.in_out == true %>
                                <p class="text-danger">- ¥<%= @bank_log.amount_money %></p>
                            <% else %>
                                <p class="text-success">+ ¥<%= @bank_log.amount_money %></p>
                            <% end %>
                        </td>
                    </tr>
                </tbody>
            </table>
            <%= link_to "Edit Log", edit_bank_log_path(@bank_log), class: "btn btn-info btn-block" %>
            <%= link_to "Destroy Log", bank_log_path(@bank_log), method: :delete, class: "btn btn-danger btn-block", "data-confirm" => "Do you really want to delete this?" %>
        </div>
    </div>
</div>